<h4>ARAÇ</h4>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Marka Adı</th>
        <th scope="col">Renk Adı</th>
        <th scope="col">Araba Adı</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Marka Adı</td>
        <td>Renk Adı</td>
        <td>Araba Adı</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
